<!DOCTYPE html>
<html lang="ja">
  <head>
  <link rel="stylesheet" type="text/css" href="layout/styles.css" />
    <meta charset="utf-8">
    <title>Report Viewer</title>
  </head>
  <body>
  <link rel="stylesheet" type="text/css" href="layout/styles.css" />
    <h1>Report Viewer</h1>
    <%= yield %>
  </body>
</html>